<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Result page</title>
    <link rel="stylesheet" href="./layui/css/layui.css"  media="all">
</head>
<body>

<blockquote class="layui-elem-quote" style="margin-top:10px; margin-left:10px; margin-right:10px;">Step 3: setup AMR message date range</blockquote>
<div class="layui-row layui-col-space15" style="margin-top:10px; margin-left:10px; margin-right:10px;">
    <div class="layui-col-md7">
        <form class="layui-form" action="#" th:action="@{/calculateamr}" th:object="${instrumentPayloadPackage}" method="POST">
            <div class="layui-form-item" style="padding: 20px; background-color: #F2F2F2;">
                <div class="layui-row layui-col-space15">
                    <div class="layui-col-md12" th:each="instrumentPayload,insStat:${instrumentPayloadList}">
                        <div class="layui-card">
                            <div class="layui-card-header" style="background-color:#0A9A8D;">
                                <p style="color:#FFFFFF" th:text="|Instrument ID: ${instrumentPayload.instrumentId}|"/></div>
                            <div class="layui-card-body">
                                <table class="layui-table">
                                    <thead>
                                    <tr>
                                        <th>message type</th>
                                        <th>message date</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>CUS</td>
                                        <td th:text="${instrumentPayload.cusDate}"></td>
                                    </tr>
                                    <tr>
                                        <td>AMR</td>
                                        <td>
                                            <input type="text" class="layui-input test-date" placeholder="from...to... " th:field="*{instrumentPayloadList[__${insStat.index}__].amrDateRange}">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>LIQ</td>
                                        <td th:text="${instrumentPayload.liqDate}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <input type="hidden" th:field="*{instrumentPayloadList[__${insStat.index}__].instrumentId}"/>
                        <input type="hidden" th:field="*{instrumentPayloadList[__${insStat.index}__].cusDate}"/>
                        <input type="hidden" th:field="*{instrumentPayloadList[__${insStat.index}__].liqDate}"/>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="submit" class="layui-btn" lay-submit="">next step</button>
                </div>
            </div>
        </form>
    </div>
</div>


<script src="../layui/layui.js" charset="utf-8"></script>
<script th:inline="javascript">
layui.use('laydate', function(){
  var laydate = layui.laydate;
  lay('.test-date').each(function(){
    laydate.render({
      elem: this
      ,range: true
      ,trigger: 'click'
    });
  });



});
</script>
</body>
</html>